div {
  display: grid;
  background-color: #eeebeb;
  min-height: 100vh;
}

form {
  display: block;
  position: relative;
  background-color: rgb(204, 202, 202);
  box-shadow: 10px 10px 5px grey;
}

h1 {
  color: #0a0a0a;
}

#user {
  border-radius: 5px;
  border: 2px solid #fafafa;
  padding: 13px;
  width: 190px;
  height: 10px;
}

#pass {
  border-radius: 5px;
  border: 2px solid #fafafa;
  padding: 13px;
  width: 190px;
  height: 10px;
}

/* form::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 1;
}

form .form-inner {
  position: relative;
  display: block;
  background-color: white;
} */
